:root {
  --Scisor-500: hsl(39, 89%, 49%);
  --Scisor-600: hsl(28, 76%, 44%);
  --bg-500: hsl(230, 89%, 62%);
  --bg-700: hsl(229, 64%, 46%);
  --Rock-600: hsl(349, 71%, 52%);
  --Rock-800: hsl(347, 75%, 35%);
  --Paper-600: hsl(261, 73%, 60%);
  --Paper-700: hsl(261, 51%, 44%);
  --Light-blue-400: hsl(189, 59%, 53%);
  --Light-blue-500: hsl(194, 58%, 42%);

  --dark-text: hsl(229, 25%, 31%);
  --score-text: hsl(229, 64%, 46%);
  --header-outline: hsl(246, 11%, 37%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
  transition: all 0.35s;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
}

body {
  background: radial-gradient(circle, hsl(214, 47%, 23%), hsl(237, 48%, 15%));
  height: 100%;
  position: relative;
}

.overlay {
  display: none;
}

.rules-container {
  background-color: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.rules__header {
  font-weight: 600;
  font-size: 2.8rem;
  color: var(--dark-text);
  margin-bottom: 6rem;
}

.rules__img {
  margin-bottom: 8rem;
}

.step-one {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.one__header {
  border: 2px solid var(--header-outline);
  border-radius: 0.8rem;
  display: flex;
  margin-bottom: 10rem;
  justify-content: space-between;
  width: 100%;
}

.logo {
  width: 10rem;
  margin: 1.5rem 0 1.5rem 1.5rem;
}

.score-container {
  color: var(--dark-text);
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 1rem 1rem 0;
  padding: 1rem 1.5rem;
  border-radius: 0.6rem;
}

.score--text {
  font-size: 1.4rem;
  font-weight: 600;
}

.score--value {
  font-size: 3rem;
  font-weight: 700;
}

.choice-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  background-image: url(images/bg-triangle.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  place-items: center;
  column-gap: 8rem;
  display: none;
}

.paper,
.scissors,
.rock {
  background-color: white;
  border-radius: 50%;
  padding: 2rem;
  width: 8rem;
  height: 8rem;
}

.choice-wrapper {
  width: 10rem;
  height: 10rem;
  background-color: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.wrapper-paper {
  background: linear-gradient(to bottom, var(--bg-500), var(--bg-700));
  grid-column: 1 / span 1;
  margin-top: -10rem;
}
.wrapper-scissors {
  background: linear-gradient(to bottom, var(--Scisor-500), var(--Scisor-600));
  grid-column: 2 / span 1;
  margin-top: -10rem;
}
.wrapper-rock {
  background: linear-gradient(to bottom, var(--Rock-600), var(--Rock-800));
  grid-column: 1 / span 2;
}

.one__rules {
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0.8rem 3rem;
  border: 2px solid var(--header-outline);
  color: white;
  border-radius: 0.8rem;
  letter-spacing: 1.2px;
  margin-top: 8rem;
  cursor: pointer;
}

.one__rules:hover {
  font-weight: 700;
}

.picked-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* display: none; */
}

.picked-chioce-container {
  display: flex;
  justify-content: center;
  gap: 8rem;
}

.picked-chioce-container .wrapper-paper,
.picked-chioce-container .wrapper-scissors,
.picked-chioce-container .wrapper-rock {
  margin: 0;
}

.picked-message {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.user-picked-text,
.computer-picked-text {
  color: white;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 1px;
  white-space: nowrap;
  margin-top: 1.8rem;
}

.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.sub-pick {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result {
  color: white;
  font-weight: 700;
  font-size: 3.5rem;
}

.btn {
  padding: 1rem 3rem;
  font-size: 1.6rem;
  letter-spacing: 2px;
  color: var(--dark-text);
  margin-top: 2rem;
  border: none;
  cursor: pointer;
  border-radius: 0.6rem;
  font-weight: 700;
}

.btn:hover {
  color: var(--Rock-800);
}

@media screen and (min-width: 1024px) {
  body {
    height: 100vh;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 10;
  }

  .rules-container {
    position: absolute;
    width: 400px;
    height: 400px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    place-items: center;
    padding: 0 2.5rem;
    border-radius: 1rem;
    z-index: 20;
  }

  .rules__header {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    justify-self: self-start;
  }

  .rules__close {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    justify-self: self-end;
    cursor: pointer;
  }

  .rules__img {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
  }

  .rules__img,
  .rules__header,
  .rules__close {
    margin: 0;
  }

  .one__header {
    max-width: 600px;
    margin-bottom: 4rem;
  }

  .choice-wrapper {
    height: 18rem;
    width: 18rem;
  }

  .paper,
  .scissors,
  .rock {
    height: 13rem;
    width: 13rem;
  }

  .logo {
    width: 12rem;
  }

  .score-container {
    padding: 1rem 2rem;
  }

  .score--text {
    font-size: 2rem;
    font-weight: 600;
  }

  .score--value {
    font-size: 3.5rem;
    font-weight: 700;
  }

  .one__rules {
    align-self: flex-end;
    margin-top: 2rem;
  }

  .user-picked-text,
  .computer-picked-text {
    order: -1;
    margin-bottom: 2rem;
  }
}
